.pc-tab > input,
.pc-tab section > div {
    display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3,
#tab4:checked ~ section .tab4{
    display: block;
}
*, *:after, *:before{
    box-sizing: border-box;
}

body{
    background-color: #ecf0f1;
    font-family: 'Lato', sans-serif;
}

h1{
    text-align: center;
}

.pc-tab{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;

}

.pc-tab ul{
    list-style-type: none;
    margin: 0;
    padding:0;   
}

.pc-tab ul li label{
    float: left;
    padding: 5px 25px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background-color: #eeeeee;
    color: #444}

.pc-tab ul li label:hover{
    background-color: #ddd   
}

.pc-tab ul li label:active{
    background-color: #fff;   
}

.pc-tab ul li:not(:last-child) label{
    border-right-width: 0;   
}

.pc-tab section{
    clear: both;
    
}

.pc-tab section div{
    padding: 20px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    color: #444;
}

.pc-tab section div.tab4{
    padding: 20px;
    width: 108%;
    border: 1px solid #ddd;
    background-color: #fff;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    color: #444;
}

.pc-tab section div h4{
    margin: 0;
    letter-spacing:0.5px;
    color: #34495e;
    text-decoration: none;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label,
#tab4:checked ~ nav .tab4 label{
    background-color: #fff;
    color: #111;
    position: relative;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label,
#tab4:checked ~ nav .tab4 label{
    content: "";
}
